<%= content_for :scripts do %>
  <%= javascript_include_tag 'channels/orchestrator' %>
<% end %>


<h1>
  <span class='highlight'>Hello.</span>
</h1>

<p>
  <span class='highlight'>
    Move your hand over the box connected to this computer.
    The tones you hear driven by your interaction with an infrared light beam.
  </span>
</p>

<p>
  <span class='highlight'>
    Other people are connecting to this exhibit with their phones.  As they
    join, you will hear a series of chords.  Each new connection is a note in
    each chord.
  </span>
</p>
