<div class='full-screen dark'>
  <button type='button'
          class='btn btn-lg btn-block centered'
          id='btn-participate'>Participate</button>
</div>

<%= javascript_include_tag 'channels/participant' %>
