.btn {
  transition:     all .5s;
  background:     transparent;
  border:         1px solid rgba(200,255,255,0.7);
  color:          rgba(200,255,255,0.7);
  padding:        0.5rem 1rem;
  vertical-align: middle;
  user-select:    none;
  white-space:    nowrap;
  margin:         0;

  &.btn-block {
    display: block;
    width:  100%;
  }

  &.btn-lg {
    font-size: 3rem;
  }
}
