.centered {
  text-align: center;
  vertical-align: middle;
  margin-top:     40vh;
}

.dark {
  background-color: #444;
  color: #444;
}

.viz {
  -webkit-transition: all 1s;
  transition: all 1s;
  background: radial-gradient(circle, #000, #000);
}
