.full-screen {
  position: absolute;
  top:      0;
  bottom:   0;
  left:     0;
  right:    0;
  display:  flex;
  padding:  1rem;
  
  .centered {
    align-self: center;
    margin:     auto;
  }

  &.dark {
    background-color: #111;
    color: #666;
  }
}
